body {
    margin: 0;
    font-family: monospace;
}

#recipes {
    margin: 2rem;
  }
  
.card {
    text-align: center;
    border: grey solid 1.25px;
    padding: 1rem;
    width: 15rem;
    height: 25rem;
    display: inline-grid;
    margin: 1rem 2rem;
    box-shadow: 3px 4px #e04b52;
}

.photo {
    justify-self: center;
    height: 11rem;
    width: auto;
}

.fade {
    opacity: 0.3;
}

#details {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    /* left: 0;
    top: 0; */
    margin-left: 7%;
    margin-right: 7%;
    width: 80%; /* Full width */
    height: 80%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    /* background-color: rgb(0, 0, 0); */
    background-color: rgb(76, 140, 192);
    border: black solid 3px;
    padding: 30px;
  }

#recipe-ingredients {
    background-color:  rgb(150, 184, 211);
}

#recipe-steps {
    background-color:  rgb(150, 184, 211);
}

#heart {
    font-size: x-large;
    border: grey solid 0px;
}

#span {
    font-size: large;
}